<html>
    <Body>
   bye
        <form action="{% url 'main' %}">
            <input type="text" name="name" placeholder="Name">
            <input type="date" name="date">
            <label for="cars">Choose a car:</label>
            <select name="cars" id="cars">
               <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
            <button type="submit">Submit</button>
        </form>
        

    <h2>Submitted Users</h2>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Cars</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.date }}</td>
            <td>{{ user.cars }}</td>
        </tr>
        {% endfor %}
    </table>
    </Body>
</html>
